<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your ticket has been issued, <%= @passenger.name %></h1>
    <p>
      You have successfully booked the flight number <%= @flight_id %> <br>
    </p>
  </body>
</html>
